name: Docs

on:
  push:
    branches:
      - main
  pull_request:
  release:
    types: [published]

jobs:
  
  # test-recipes:
  #   name: Check Recipe Examples
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version: 18
  #     - run: |
  #         npm install
  #         npm run test:examples

  call-workflow:
    uses: FuelLabs/github-actions/.github/workflows/next-docs.yml@sarah/docs
    with:
      doc-folder-path: 'docs'
      src-folder-path: 'src'
